*.sln
*.vcxproj
*.vcxproj.filters

.vs/
build/
Debug/

ParrotLoader/Release/

Release/

TeknoParrot\.sdf

TeknoParrot\.v12\.suo

TeknoParrot/TeknoParrot\.vcxproj\.user

ParrotLoader/ParrotLoader\.vcxproj\.user

*.user
*.aps
OpenParrot/src/Functions/Games/Other/FNFSB2.cpp
